ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  background-color: #FF0000;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  float: left;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  }

.App-body{
  background-color: rgb(240, 230, 230);
  min-height: 100vh;
  padding-top: 1%;
  padding-left: 20%;
  padding-right: 20%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button{
  padding: 16px 32px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}



.flex-row {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.flex-row .right{
  float: right;
  margin-left: auto;
}

.box {
  min-height: 500px;
  min-width: 500px;
  background-color: aquamarine;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}