@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  z-index: 999;
  background-color: rgb(255, 0, 0);
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: white;
  min-height: 100px;
  margin-bottom: auto;
}

.col{
  padding: 0 !important;
  margin: 0 !important;
}

.container{
  padding: 0 !important;

}
.sortable-list{
  margin-inline: auto;
}

.button{
	border: 1px solid #5d5d5d; 
  border-radius: 10px;
  padding: 5% !important;
  text-align: center;
  font-size: 18px;
  margin: auto;
}
