@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .jumbotron{
    background-color: red !important;
    color: white;
  }

  .navbar {
    z-index: 999;
    background-color: rgb(255, 0, 0);
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: white;
    min-height: 100px;
    margin-bottom: auto;
  }
  .h1 {
    display: inline-flex;
  }
  .strong {
    border: none;
    border-radius: 12px;
    padding: 5% !important;
    text-align: center;
    font-size: 18px;
  }

  .sortable-list{
    margin-inline: auto;
  }
  
  table.center{
    margin: auto;
    text-align: center;
  }

  table, th, td, tr {
    border: 3px solid black;
    border-collapse: collapse;
  }

  table{
    width: 90%;
    align-items: center;
  }

  thead {
    font-weight: bold;
  }

  th{
    text-align: center;
    cursor: pointer;
    font-size: 125%;
  }

  td {
    padding: 30px;
    text-align: left;
    font-size: 110%;
  }

  tr:nth-child(even) {
    background-color: #d3d3d3;
  }

  .button{
    border: none;
    border-radius: 12px;
    padding: 5% !important;
    text-align: center;
    font-size: 18px;
    margin: auto;
  }

  