@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .sortable-list{
    margin-inline: auto;
  }
  
  table.center{
    margin: auto;
    text-align: center;
  }

  table, th, td, tr {
    border: 3px solid black;
    border-collapse: collapse;
  }

  table{
    width: 90%;
    align-items: center;
  }
  th{
    text-align: center;
  }
  
  td {
    padding: 30px;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #d3d3d3;
  }

  .button{
    border: none;
    border-radius: 12px;
    padding: 5% !important;
    text-align: center;
    font-size: 18px;
  }