body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.test-box {
  width: 600px;
  background-color: #29e;
}

drag-1, drag-2, drag-3 {
  border-style: outset;
  width: 25%;
  min-height: 6.5em;
  margin: 1rem 0 0 1rem;
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  padding: 4%;
  touch-action: none;
  user-select: none;
  transform: translate(0px, 0px);
}

grid-snap {
  width: 40%;
  border-radius: 4px;
  padding: 2%;
  margin: 1rem 0 0 1rem;
  background-color: #29e;
  color: #fff;
  font-size: 1.2em;
  touch-action: none;
}
